<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 这是一段文本节点{{name}}{{age}}
        <span>{{content}}</span>
        <br>
        <input type="text" v-model='obj.x'>{{obj.x}} -->
        <ul>
            <li v-for='(key) in list'>姓名：{{key.name}}年龄：{{key.age}}</li>
        </ul>
    </div>

    <script type='module'>
        import Due from './core/index.js';

        window.Due = new Due({
            el: 'app',
            data: {
                name: 'chenjianhui',
                age: 18,
                obj: {
                    y: {
                        a: '12'
                    },
                    x: 1
                },
                arr: [{arr1: '123'}, {arr2: '456'}],
                content: '渲染内容',
                list: [
                    {name: 'chenjianhui', age: 18},
                    {name: 'null', age: 20}
                ]
            }
        });

    </script>
</body>
</html>